*{
   margin: 0px;
   padding: 0px;
   color: white;
}
#body{
   width: 100%;
   max-width: 1200px;
   min-width: 960px;
   margin: auto;
}
#container{
   max-width: 1200px;
   min-width: 960px;
   margin: auto;
   background-color: #296489;
}
#leftheader{
   display: inline-block;
}
#rightheader{
   display: inline-block;
   float: right;
}
#bar{
   padding-top: 5px;
   padding-bottom: 5px;
   color: white;
   /*min-width: 960px;*/
}
#bar a{
   text-decoration: none;
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left: 15px;
   padding-right: 15px;
   color: white;
}
#bar a:hover{
   color: yellow;
}
#header{
   background-color: #0A384F;
   color: white;
   border-style: solid;
   border-width: 1px;
   border-color: lightgrey;
   min-width: 960px;
}
.btn{
   display: inline-block;
   width: 93px;
   background-color: #0A384F;
}
.btn:hover{
   background-color: yellow;
}
.col6{
   text-align: right;
   margin-bottom: 10px;
}
#container{
   /*background-image: url("../images/wallpaper.jpg");*/
   background-repeat: repeat-y;
   padding: 1%;
}
.em{
   height: 20px;
   margin: 0px 5px 5px 5px;
}
.thumbs{
   margin-left: 10px;
}
#wide_panoramic{
   width: 100%;
   margin-bottom: 10px;
   height: 200px;
}
#left_block{
   display: inline-block;
   height: 693px;
   width: 59%;
   vertical-align: top;
   margin-right: 1%;
   margin-bottom: 20px;
   /*padding: 1%;*/
   /*border-style: solid;
   border-color: lightgrey;
   border-width: thin;
   background-color: white;
   opacity: 0.85;*/
}
#articles{
   height: 180px;
   margin-bottom: 15px;
   padding: 1%;
   border-style: solid;
   border-color: lightgrey;
   border-width: thin;
   background-color: #0A384F;
   /*opacity: 0.85;*/
}
   #articleblock{
      overflow: scroll;
      height: 160px;
   }
   #articlelink{
      text-decoration: underline;
      color: darkblue;
      padding-right: 5px;
   }
#locations{
   /*display: inline-block;*/
   height: 538px;
   vertical-align: top;
   /*margin-right: 1%;*/
   margin-bottom: 20px;
   padding: 1%;
   border-style: solid;
   border-color: lightgrey;
   border-width: thin;
   background-color: #0A384F;
   /*opacity: 0.85;*/
}
   .typelink, .namelink{
      padding-left: 0px;
      text-decoration: underline;
      color: lightblue;
      padding-right: 5px;
   }
   #locations #namelink{
      padding-left: 0px;
      text-decoration: underline;
      color: darkblue;
      padding-right: 5px;
   }
   #locations #userlink{
      padding-left: 0px;
      text-decoration: underline;
      color: lightblue;
      padding-right: 0px;
   }
   #locations h3{
      display: inline-block;
      vertical-align: top;
      margin-right: 55%;
   }
   #locations #recentSurfboard{
      height: 500px;
      overflow: scroll;
   }
      #locations #surfboard{
         margin-top: 10px;
      }
   #locations label{
      display: inline-block;
      vertical-align: top;
   }
   .input, textarea{
      color: black;
   }
   p{
      margin: 3px 10px;
   }
   #locations #description{
      height: auto;
      max-height: 55px;
      overflow: scroll;
      text-align: justify;
      white-space: pre-wrap;
   }
#newSurfboard{
   display: inline-block;
   width: 37%;
   vertical-align: top;
   border-style: solid;
   border-color: lightgrey;
   border-width: thin;
   padding: 1%;
   height: 740px;
   background-color: #0A384F;
   /*opacity: 0.85;*/
   margin-bottom: 20px;
}
   #newSurfboard:hover{
      #noUser{
         background-color: red
      }
   }
   .radio{
      margin-right: 8px;
   }
   select{
      margin-right: 10px;
   }
   #newSurfboard #name{
      margin-left: 15px;
      border-radius: 3px;
      padding: 1px;
   }
   #newSurfboard p{
      margin-top: 10px;
   }
   #newSurfboard input{
      color: black;
   }
   span#noUser{
      margin-top: 200px;
      /*color: red;*/
   }
   #newSurfboard #title{
      width: 50%;
   }
   #newSurfboard textarea{
      color: black;
   }
   #newSurfboard #desc{
      width: 95%;
      height: 80px;
      overflow: scroll;
      margin-left: 10px;
      border-radius: 5px;
   }
   #newSurfboard h5{
      margin-top: 5px;
   }
   #submit{
      margin-left: 85%;
      background-color: #3998FC;
      color: white;
      padding: 5px 10px;
   }
   #submit:hover{
      cursor: pointer;
      background-color: blue;
   }
   #repeat{
        display: inline;
   }
   #manufacturer_container {
        width: 1000px;
        margin: 13px 3px 3px 0px;
        text-align: center;
        width: 85px;
        padding: 4px;
        display: inline-table;
        color: white;
        background-color: black;
        font-size: 12px;
        cursor: pointer;
        border: 1px solid black;
        border-radius:13px;
   }
   #manufacturer_container:hover {
        box-shadow: 0px 0px 10px black;
        background-color: gray;
        border: 1px solid gray;
        cursor: pointer;
   }
   #names {
        cursor: pointer;
   }
.typesummary{
   margin-bottom: 10px;
   width: 53%;
   display: inline-block;
}
#types, #manufacturers, #names{
   padding: 1%;
   width: 30.1%;
   margin-right: 1%;
   display: inline-block;
   vertical-align: top;
   border-style: solid;
   border-width: thin;
   border-color: lightgrey;
   height: 500px;
   overflow: scroll;
   background-color: #0A384F;
   /*opacity: 0.85;*/
}
#names{
   margin-right: 0%
}
   .panoramic{
      width: 100%;
      margin-bottom: 10px;
      opacity: 1.0;
      height: 100px;
   }
   .manufacturerlink{
      color: lightblue;
   }

/*Animations*/
   .animate-enter,
   .animate-leave
   {
     -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
     -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
     -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
     -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
     transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
     position: relative;
     display: block;
   }

   .animate-enter.animate-enter-active,
   .animate-leave {
     opacity: 1;
     top: 0;
     height: 30px;
   }

   .animate-leave.animate-leave-active,
   .animate-enter {
     opacity: 0;
     top: -50px;
     height: 0px;
   }

#footer{
   padding: 5px 10px;
   background-color: #0A384F;
}
#copyright{
   font-size: 13px;
}
.foot{
   display: inline-block;
   width: 24%;
   text-align: center;
   color: white;
}
.foot a{
   color: white;
   text-decoration: none;
}
.foot a:hover{
   color: yellow;
}
#legal{
   margin-bottom: 15px;
   padding: 1%;
   border-style: solid;
   border-color: lightgrey;
   border-width: thin;
   background-color: #0A384F;
   opacity: 0.85;
}
#dmca{
   margin-bottom: 15px;
   padding: 1%;
   border-style: solid;
   border-color: lightgrey;
   border-width: thin;
   background-color: #0A384F;
   opacity: 0.85;
}
#about{
   margin-bottom: 15px;
   padding: 1%;
   border-style: solid;
   border-color: lightgrey;
   border-width: thin;
   background-color: #0A384F;
   opacity: 0.85;
}
#contact{
   margin-bottom: 20px;
   padding: 1%;
   border-style: solid;
   border-color: lightgrey;
   border-width: thin;
   background-color: #0A384F;
   opacity: 0.85;
}
.lettered{
   list-style-type: lower-alpha;
   margin-left: 20px;
}
ul{
   margin-left: 20px;
   margin-top: 3px;
   margin-bottom: 3px;
   list-style-position: inside;
}
p{
   margin-top: 5px;
   margin-bottom: 5px;
   text-align: justify;

}
h4{
   margin-top: 10px;
   margin-bottom: 5px;
}
h2{
   width: 60%;
   margin-left: 20%;
   text-align: center;
   padding: 20px;
   font-size: 28px;
   font-variant: small-caps;
}
#message{
   width: 50%;
   height: 80px;
   margin-left: 10px;
}
.bottom{
   padding: 0.2em;
}
.rating{
   display: inline-block;
   width: 44%;
   padding-left: 10px;
}
.reportcomment{
   padding: 3px 2px;
   vertical-align: top;
   color: black;
}
.reportcomment:hover{
   background-color: red;
   color: white;
}
.report {
   padding: 10px 30px 20px;
}
   .reportfield{
      width: 300px;
   }
   .reporttext{
      font-size: 15px;
   }
   .reportbutton{
      background-color: red;
      color: white;
      padding: 5px;
   }
input{
   color: black;
}
