*{
   margin: 0px;
   padding: 0px;
   color: white;
   /*border-width: 0px;*/
}
#body{
   width: 100%;
   max-width: 1200px;
   min-width: 960px;
   margin: auto;
}
#container{
   max-width: 1200px;
   min-width: 960px;
   margin: auto;
   background-image: url("../images/wallpaper.jpg");
   background-repeat: repeat-y;
   padding-top: 1%;
}
#bar{
   padding-top: 5px;
   padding-bottom: 5px;
   color: white;
   min-width: 960px;
}
#bar a{
   text-decoration: none;
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left: 15px;
   padding-right: 15px;
   color: white;
}
#bar a:hover{
   color: yellow;
}
#header{
   background-color: #0A384F;
   color: white;
   border-style: solid;
   border-width: 1px;
   border-color: lightgrey;
   min-width: 960px;
}
p{
   margin: 3px 10px;
}
.btn{
   display: inline-block;
   width: 93px;
   color: black;
   background-color: white;
}
.btn:hover{
   background-color: yellow;
}
.col6{
   text-align: right;
   padding-bottom: 10px;
}
.fa{
   color: black;
}
.region{
   width:50%;
   height: 400px;
   float: left;
   vertical-align: top;
   background-color: white;
   overflow: scroll;
}
   .region h4{
      width: 100%;
      text-align: center;
      margin: 3% 0% 2%;
      font-variant: small-caps;
      font-size: 20px;
   }
   .region h5{
      width: 100%;
      text-align: center;
      margin: 1% 0% 2%;
      font-variant: small-caps;
      font-size: 17px;
   }
   .region p{
      width: 100%;
      text-align: center;
      /*margin: 4% 0%;*/
      font-variant: small-caps;
      font-size: 15px;
   }
#NA{
   background-image: url("/assets/images/north_america.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
#CA{
   background-image: url("/assets/images/central_america.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
#SA{
   background-image: url("/assets/images/south_america.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
#PA{
   background-image: url("/assets/images/pacific_islands.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
#CAR{
   background-image: url("/assets/images/caribbean.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
#EU{
   background-image: url("/assets/images/europe.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
#AF{
   background-image: url("/assets/images/africa.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
#CAS{
   background-image: url("/assets/images/central_asia.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
#SEA{
   background-image: url("/assets/images/south_east_asia.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
#AU{
   background-image: url("/assets/images/australia.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
#footer{
   padding: 5px;
   background-color: #0A384F;
}
#copyright{
   font-size: 13px;
}
.foot{
   display: inline-block;
   width: 24%;
   text-align: center;
   color: white;
   margin-top: 5px;
}
.foot a{
   color: white;
   text-decoration: none;
}
.foot a:hover{
   color: yellow;
}
#legal{
   margin-right: 1%;
   margin-bottom: 20px;
   padding: 1%;
   border-style: solid;
   border-color: lightgrey;
   border-width: thin;
   background-color: white;
   opacity: 0.85;
}
#dmca{
   margin-right: 1%;
   margin-bottom: 20px;
   padding: 1%;
   border-style: solid;
   border-color: lightgrey;
   border-width: thin;
   background-color: white;
   opacity: 0.85;
}
#about{
   margin-right: 1%;
   margin-bottom: 20px;
   padding: 1%;
   border-style: solid;
   border-color: lightgrey;
   border-width: thin;
   background-color: white;
   opacity: 0.85;
}
#contact{
   margin-right: 1%;
   margin-bottom: 20px;
   padding: 1%;
   border-style: solid;
   border-color: lightgrey;
   border-width: thin;
   background-color: white;
   opacity: 0.85;
}
.lettered{
   list-style-type: lower-alpha;
   margin-left: 20px;
}
ul{
   margin-left: 20px;
   margin-top: 3px;
   margin-bottom: 3px;
   list-style-position: inside;
}
p{
   margin-top: 5px;
   margin-bottom: 5px;
   text-align: justify;
}
h4{
   margin-top: 10px;
   margin-bottom: 5px;
}
h2{
   width: 50%;
   margin-left: 25%;
   text-align: center;
   padding: 20px;
}
#message{
   width: 50%;
   height: 80px;
   margin-left: 10px;
}
.reportcomment{
   padding: 3px 5px;
}
.reportcomment:hover{
   background-color: red;
   color: white;
}
.report {
   padding: 10px 30px 20px;
}
   .reportfield{
      width: 300px;
   }
   .reporttext{
      font-size: 15px;
   }
   .reportbutton{
      background-color: red;
      color: white;
      padding: 5px;
   }
   .rating{
      display: inline-block;
      width: 44%;
      padding-left: 10px;
   }
   .ratings{
      margin-left: 10px;
      margin-right: 10px;
   }
