*{
   margin: 0px;
   padding: 0px;
   color: black;
}
#body{
   width: 100%;
   max-width: 1200px;
   min-width: 960px;
   margin: auto;
}
#container{
   max-width: 1200px;
   min-width: 960px;
   margin: auto;
}
.em{
   height: 20px;
   margin: 0px 5px 5px 5px;
}
.thumbs{
   margin-left: 10px;
}
#bar {
   padding-top: 5px;
   padding-bottom: 5px;
   color: white;
}
#bar a{
   text-decoration: none;
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left: 15px;
   padding-right: 15px;
   color: white;
}
#bar a:hover{
   color: yellow;
}
#header{
   background-color: #0A384F;
   color: white;
   border-style: solid;
   border-width: 1px;
   border-color: lightgrey;
}
.btn{
   display: inline-block;
   width: 93px;
}
.btn:hover{
   background-color: yellow;
}
.col6{
   text-align: right;
   margin-bottom: 10px;
}
   #userlink{
      padding: 0px;
      color: darkblue;
   }
#container{
   background-color: white;
   padding: 15px;
   background-image: url("../images/wallpaper.jpg");
   background-repeat: repeat-y;
}
#region{
   padding: 1%;
   opacity: 0.85;
   background-color: white;
}
h3{
   display: inline-block;
   vertical-align: top;
   width: 50%;
   margin-right: 20%;
   margin-bottom: 10px;
}
label{
   display: inline-block;
   vertical-align: top;
}
.regionlink{
   padding-left: 0px;
   text-decoration: underline;
   color: darkblue;
   padding-right: 5px;
}
   #arealink{
      padding-left: 0px;
      text-decoration: underline;
      color: darkblue;
      padding-right: 0px;
   }
   #trip{
      margin-top: 15px;
      padding-left: 10px;
   }
      #trip #description{
         margin-top: 10px;
         margin-bottom: 10px;
         white-space: pre-wrap;
      }
      .commentsHeading{
         margin-left: 25px;
      }
      #trip #post{
         width: 50%;
         margin-left: 25px;
      }
      #posts{
         margin-left: 25px;
      }
      .submit{
         background-color: #3998FC;
         color: white;
         padding: 2px 5px;
         vertical-align: top;
      }
      #oldpost{
         width: auto;
         display: inline-block;
         vertical-align: top;
         margin-right: 5px;
         margin-top: 10px;
      }
      #newreply{
         display: inline-block;
         vertical-align: top;
      }
         #replies{
            margin-left: 25px;
            margin-top: 8px;
         }
         #comment{
            width: 50%;
         }
         #footer{
            padding: 5px 10px;
            background-color: #0A384F;
         }
         #copyright{
            font-size: 13px;
         }
         .foot{
            display: inline-block;
            width: 24%;
            text-align: center;
            color: white;
         }
         .foot a{
            color: white;
            text-decoration: none;
         }
         .foot a:hover{
            color: yellow;
         }
         #legal{
            margin-right: 1%;
            margin-bottom: 20px;
            padding: 1%;
            border-style: solid;
            border-color: lightgrey;
            border-width: thin;
            background-color: white;
            opacity: 0.85;
         }
         #dmca{
            margin-right: 1%;
            margin-bottom: 20px;
            padding: 1%;
            border-style: solid;
            border-color: lightgrey;
            border-width: thin;
            background-color: white;
            opacity: 0.85;
         }
         #about{
            margin-right: 1%;
            margin-bottom: 20px;
            padding: 1%;
            border-style: solid;
            border-color: lightgrey;
            border-width: thin;
            background-color: white;
            opacity: 0.85;
         }
         #contact{
            margin-right: 1%;
            margin-bottom: 20px;
            padding: 1%;
            border-style: solid;
            border-color: lightgrey;
            border-width: thin;
            background-color: white;
            opacity: 0.85;
         }
         .lettered{
            list-style-type: lower-alpha;
            margin-left: 20px;
         }
         ul{
            margin-left: 20px;
            margin-top: 3px;
            margin-bottom: 3px;
            list-style-position: inside;
         }
         p{
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: justify;
         }
         h4{
            margin-top: 10px;
            margin-bottom: 5px;
         }
         h2{
            width: 50%;
            margin-left: 25%;
            text-align: center;
            padding: 20px;
         }
         #message{
            width: 50%;
            height: 80px;
            margin-left: 10px;
         }
         .reportcomment{
            padding: 3px 2px;
            vertical-align: top;
         }
         .reportcomment:hover{
            background-color: red;
            color: white;
         }
         .report {
            padding: 10px 30px 20px;
         }
            .reportfield{
               width: 300px;
            }
            .reporttext{
               font-size: 15px;
            }
            .reportbutton{
               background-color: red;
               color: white;
               padding: 5px;
            }
            .rating{
               display: inline-block;
               width: 44%;
            }
