<link rel="stylesheet" type="text/css" href="assets/css/area.css">
<div id="container" ng-controller="areaController">
   <div class="col6 offset-left2">
         <button class="btn btn-medium font-bold"
                socialshare
                socialshare-provider="email"
                socialshare-body= {{url}}
                socialshare-media="https://www.google.it/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"
                socialshare-subject="surfingJourneys.com"
                socialshare-popup-height="300"
                socialshare-popup-width="400">
            <i class="fa fa-envelope"></i> Email
         </button>
         <button class="btn btn-medium font-bold"
               socialshare
               socialshare-provider="facebook"
               socialshare-type="sharer"
               socialshare-text="Surfing Destinations Reviews"
               socialshare-url= "surfingJourneys.com"
               socialshare-popup-height="300"
               socialshare-popup-width="400"
               socialshare-trigger="click">
            <i class="fa fa-facebook"></i> Facebook
         </button>
          <button class="btn btn-medium font-bold"
                 socialshare
                 socialshare-provider="twitter"
                 socialshare-hashtags="travel, surfing, surfing travel, surfing destinations"
                 socialshare-via="twitter"
                 socialshare-text= {{url}}
                 socialshare-url= {{url}}
                 socialshare-popup-height="300"
                 socialshare-popup-width="400"
                 socialshare-trigger="click">
              <i class="fa fa-twitter"></i> Twitter
          </button>
          <button class="btn btn-medium font-bold"
                 socialshare
                 socialshare-provider="google"
                 socialshare-url= {{url}}
                 socialshare-popup-height="300"
                 socialshare-popup-width="400"
                 socialshare-trigger="click">
              <i class="fa fa-google-plus"></i> G+
          </button>
          <button class="btn btn-medium font-bold"
                 socialshare
                 socialshare-media="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTWGNvatNjOUyli3tBacDdAHmienfptFVStj_olGCWmaUXoIGYI"
                 socialshare-provider="pinterest"
                 socialshare-text="Surfing Destinations Reviews"
                 socialshare-url= {{url}}
                 socialshare-popup-height="300"
                 socialshare-popup-width="400"
                 socialshare-trigger="click">
              <i class="fa fa-pinterest"></i> Pinterest
          </button>
          <button class="btn btn-medium font-bold"
                 socialshare
                 socialshare-provider="wordpress"
                 socialshare-text="Surfing Destinations Reviews"
                 socialshare-url= {{url}}
                 socialshare-popup-height="300"
                 socialshare-popup-width="400"
                 socialshare-trigger="click">
              <i class="fa fa-wordpress"></i> Wordpress
          </button>
   </div>
   <div id="locations">
      <p><font color="red"><b><i>{{errors.text.message}}</i></b></font></p>
      <h3>{{trips[0].area}} - Reviewed {{trips.count}} time<span ng-if="trips.count>1">s</span></h3>
      Sort: <select id="sort" ng-model="sortorder">
         <option value="-createdAt">Date Posted</option>
         <option value="-rating">Rating</option>
      </select>
      <label><input ng-model="filter" placeholder="filter.."></label>
      <b><div class="rating">
         Overall Rating: {{trips.averageRating}}
         <br>Surfing Conditions Rating: {{trips.averagesurfRating}}
      </div>
      <div class="rating">
         Amenities Rating: {{trips.averageamenitiesRating}}
         <br>Other Activities Rating: {{trips.averageactivitiesRating}}</p>
      </div></b>
      <div id="trip" ng-repeat="trip in trips | filter: filter | orderBy:sortorder">
         <b><p><a class="regionlink" href="#/trip/{{trip._id}}">{{trip.title}}</a></p></b>
         <p>Posted by <a id="userlink" href="#/user/{{trip._user._id}}">{{trip._user.username}}</a> on {{trip.createdAt | date:'MMM dd, yyyy'}}</p>
         <p>Trip Period: {{trip.tripmonth}} {{trip.tripyear}}</p>
         <div class="rating">
            Overall Rating: {{trip.rating}}
            <br>Surfing Conditions Rating: {{trip.surfrating}}
         </div>
         <div class="rating">
            Amenities Rating: {{trip.amenitiesrating}}
            <br>Other Activities Rating: {{trip.activitiesrating}}
         </div>
         <p id="description">{{trip.description}} </p>
         <span class='thumbs'>{{trip.thumbsup.length}}</span><a href="" ng-click='tripthumbsup(trip)'><i class="em em---1"></i></a><span class="thumbs">{{trip.thumbsdown.length}}</span><a href="" ng-click='tripthumbsdown(trip)'><i class="em em--1"></i></a>  <button class='reportcomment' ng-click='reporttrip = !reporttrip'>Report</button><br>
         <form class='report' ng-show='reporttrip'>
            <h4>I am reporting this comment as:</h4>
            <input class='reportfield' type='text' ng-model='report.report'>
            <input class='reportbutton' type="submit" value="SUBMIT" ng-click="reportcomments(trip,report)">
            <p class='reporttext'>Reported comments and users will be reviewed by SurfingJourneys.com staff to determine whether they violate Terms of Use guidelines. Inappropriate comments will be removed, and repeated violations can lead to account termination.</p>
         </form>
         <h4 class='commentsHeading'>Comments:</h4>
         <form id="newcomment">
            <textarea id="post" type="text" ng-change="testuser()" ng-model='post[$index].text'></textarea>
            <input class="submit" type="submit" value="Post Comment" ng-click="newPost(trip._id, post[$index])">
         </form>
         <div id="posts" ng-repeat="post in trip.posts | orderBy:'-createdAt'">
            <p id="oldpost">{{post._user.username}} - {{post.createdAt | date:'MMM dd, yyyy'}}: {{post.text}}
               <button class='showreplies' ng-click='post[showreplies] = !post[showreplies]'><span ng-if='!post[showreplies] && post.comments.length>0'>Show Replies ({{post.comments.length}})</span><span ng-if='post[showreplies]'>Hide Replies</span></button>
               <button class="submit" ng-click="reply = !reply">Reply</button></p>
            <form id="newreply" ng-show='reply'>
               <p><textarea style='width:500px' ng-change="testuser()" id="comment" type="text" ng-model='comment.text'></textarea>
               <input class="submit" type="submit" value="Send" ng-click="newComment(post, comment)"></p>
            </form>
            <br>
            <span class='thumbs'>{{post.thumbsup.length}}</span><a href="" ng-click='postthumbsup(post)'><i class="em em---1"></i></a><span class="thumbs">{{post.thumbsdown.length}}</span><a href="" ng-click='postthumbsdown(post)'><i class="em em--1"></i></a>  <button class='reportcomment' ng-click='reportpost = !reportpost'>Report</button><br>
            <form class='report' ng-show='reportpost'>
               <h4>I am reporting this comment as:</h4>
               <input class='reportfield' type='text' ng-model='report.report'>
               <input class='reportbutton' type="submit" value="SUBMIT" ng-click="reportcomments(post,report)">
               <p class='reporttext'>Reported comments and users will be reviewed by SurfingJourneys.com staff to determine whether they violate Terms of Use guidelines. Inappropriate comments will be removed, and repeated violations can lead to account termination.</p>
            </form>
            <div id="replies" ng-repeat="comment in post.comments | orderBy:'-createdAt'" ng-if='post[showreplies]'>
               <p>{{comment._user.username}} - {{comment.createdAt | date: 'MMM dd, yyyy'}}: {{comment.text}}</p>
               <span class='thumbs'>{{comment.thumbsup.length}}</span><a href="" ng-click='commentthumbsup(comment)'><i class="em em---1"></i></a><span class="thumbs">{{comment.thumbsdown.length}}</span><a href="" ng-click='commentthumbsdown(comment)'><i class="em em--1"></i></a>  <button class='reportcomment' ng-click='reportcomment = !reportcomment'>Report</button><br>
               <form class='report' ng-show='reportcomment'>
                  <h4>I am reporting this comment as:</h4>
                  <input class='reportfield' type='text' ng-model='report.report'>
                  <input class='reportbutton' type="submit" value="SUBMIT" ng-click="reportcomments(comment,report)">
                  <p class='reporttext'>Reported comments and users will be reviewed by SurfingJourneys.com staff to determine whether they violate Terms of Use guidelines. Inappropriate comments will be removed, and repeated violations can lead to account termination.</p>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
