<link rel="stylesheet" type="text/css" href="assets/css/article.css">
<!DOCTYPE html>
<meta name="viewport" content="initial-scale=1.0">

<div id="container" ng-controller="articleController">
   <div class="col6 offset-left2">
         <button class="btn btn-medium font-bold"
                socialshare
                socialshare-provider="email"
                socialshare-body= {{url}}
                socialshare-media="https://www.google.it/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"
                socialshare-subject="SurfboardRatings.com"
                socialshare-popup-height="300"
                socialshare-popup-width="400">
            <i class="fa fa-envelope"></i> Email
         </button>
         <button class="btn btn-medium font-bold"
               socialshare
               socialshare-provider="facebook"
               socialshare-type="sharer"
               socialshare-text="Surfboard Reviews"
               socialshare-url= "SurfboardRatings.com"
               socialshare-popup-height="300"
               socialshare-popup-width="400"
               socialshare-trigger="click">
            <i class="fa fa-facebook"></i> Facebook
         </button>
          <button class="btn btn-medium font-bold"
                 socialshare
                 socialshare-provider="twitter"
                 socialshare-hashtags="travel, surfing, surfing travel, surfing destinations"
                 socialshare-via="twitter"
                 socialshare-text= {{url}}
                 socialshare-url= {{url}}
                 socialshare-popup-height="300"
                 socialshare-popup-width="400"
                 socialshare-trigger="click">
              <i class="fa fa-twitter"></i> Twitter
          </button>
          <button class="btn btn-medium font-bold"
                 socialshare
                 socialshare-provider="google"
                 socialshare-url= {{url}}
                 socialshare-popup-height="300"
                 socialshare-popup-width="400"
                 socialshare-trigger="click">
              <i class="fa fa-google-plus"></i> G+
          </button>
          <button class="btn btn-medium font-bold"
                 socialshare
                 socialshare-media="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTWGNvatNjOUyli3tBacDdAHmienfptFVStj_olGCWmaUXoIGYI"
                 socialshare-provider="pinterest"
                 socialshare-text="Surfboard Reviews"
                 socialshare-url= {{url}}
                 socialshare-popup-height="300"
                 socialshare-popup-width="400"
                 socialshare-trigger="click">
              <i class="fa fa-pinterest"></i> Pinterest
          </button>
          <button class="btn btn-medium font-bold"
                 socialshare
                 socialshare-provider="wordpress"
                 socialshare-text="Surfboard Reviews"
                 socialshare-url= {{url}}
                 socialshare-popup-height="300"
                 socialshare-popup-width="400"
                 socialshare-trigger="click">
              <i class="fa fa-wordpress"></i> Wordpress
          </button>
   </div>
   <div id="article">
      <h3>{{article.title}}</h3>
      <h4>Last updated on {{article.updatedAt | date:'MM/dd/yyyy'}}</h4>
      <p ng-bind-html='text'></p>
      <br>
      <p>Author: {{article.author}}</p>
      <span class='thumbs'>{{article.thumbsup.length}}</span><a href="" ng-click='articlethumbsup(article)'><i class="em em---1"></i></a><span class="thumbs">{{article.thumbsdown.length}}</span><a href="" ng-click='articlethumbsdown(surfboard)'><i class="em em--1"></i></a>
      <br>
      <h4 class='commentsHeading'>Comments:</h4>
      <form id="newcomment">
         <textarea id="post" type="text" ng-change="testuser()" ng-model='post[$index].text'></textarea>
         <input class="submit" type="submit" value="Post Comment" ng-click="newArticlePost(article._id, post[$index])">
      </form>
      <div id="posts" ng-repeat="post in article.posts | orderBy:'-createdAt'">
         <p id="oldpost">{{post._user.username}} - {{post.createdAt | date:'MMM dd, yyyy'}}: {{post.text}}
            <button class='showreplies' ng-click='showreplies = !showreplies' ng-if='post.comments.length>0'><span ng-if='!showreplies && post.comments.length>0'>Show Replies ({{post.comments.length}})</span><span ng-if='showreplies'>Hide Replies</span></button>
            <button class="submit" ng-click="reply = !reply">Reply</button></p>
         <form id="newreply" ng-show='reply'>
            <textarea style='width:500px' ng-change="testuser()" id="comment" type="text" ng-model='comment.text'></textarea>
            <input class="submit" type="submit" value="Send" ng-click="newArticleComment(post._id, comment)">
         </form>
         <br>
         <span class='thumbs'>{{post.thumbsup.length}}</span><a href="" ng-click='articlepostthumbsup(post)'><i class="em em---1"></i></a><span class="thumbs">{{post.thumbsdown.length}}</span><a href="" ng-click='articlepostthumbsdown(post)'><i class="em em--1"></i></a>  <button class='reportcomment' ng-click='reportpost = !reportpost'>Report</button><br>
         <form class='report' ng-show='reportpost'>
            <h4>I am reporting this comment as:</h4>
            <input class='reportfield' type='text' ng-model='report.report'>
            <input class='reportbutton' type="submit" value="SUBMIT" ng-click="reportcomments(post,report)">
            <p class='reporttext'>Reported comments and users will be reviewed by SurfboardRatings.com staff to determine whether they violate Terms of Use guidelines. Inappropriate comments will be removed, and repeated violations can lead to account termination.</p>
         </form>
         <div id="replies" ng-repeat="comment in post.comments | orderBy:'-createdAt'" ng-show='showreplies'>
            <p>{{comment._user.username}} - {{comment.createdAt | date: 'MMM dd, yyyy'}}: {{comment.text}}</p>
            <span class='thumbs'>{{comment.thumbsup.length}}</span><a href="" ng-click='articlecommentthumbsup(comment)'><i class="em em---1"></i></a><span class="thumbs">{{comment.thumbsdown.length}}</span><a href="" ng-click='articlecommentthumbsdown(comment)'><i class="em em--1"></i></a>  <button class='reportcomment' ng-click='reportcomment = !reportcomment'>Report</button><br>
            <form class='report' ng-show='reportcomment'>
               <h4>I am reporting this comment as:</h4>
               <input class='reportfield' type='text' ng-model='report.report'>
               <input class='reportbutton' type="submit" value="SUBMIT" ng-click="reportcomments(comment,report)">
               <p class='reporttext'>Reported comments and users will be reviewed by SurfboardRatings.com staff to determine whether they violate Terms of Use guidelines. Inappropriate comments will be removed, and repeated violations can lead to account termination.</p>
            </form>
         </div>
   </div>
</div>
