<link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
<!-- ************************MAP*********************** -->
<!DOCTYPE html>
<meta name="viewport" content="initial-scale=1.0">
<!-- <script>
   var map;
   function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
         center: {lat: 0.165902, lng: 0.518463},
         zoom: 2
      });
   }
</script>
<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9zEze3L8tRr1_-DH6mi44KV5jpvKXnG8&callback=initMap">
</script>
<style>
      #map {
         background-color: white;
         height: 350px;
         width: 900px;
         margin-bottom: 20px;
         margin-left: 10%;
      }
</style> -->
<!-- ************************************************************* -->

<div id="container" ng-controller="dashboardController">
   <update-title title="Surfboard Ratings"></update-title>
   <update-meta name="description" content="Surfboard Ratings - Share your surfboard experiences, and learn from other users' reviews."></update-meta>

   <!-- <img id="wide_panoramic" src="../assets/images/wide_panoramic.jpg"> -->
   <!-- <div id="mapholder">
      <div id="map"></div>
   </div> -->
   <div class="col6 offset-left2">
         <button class="btn btn-medium font-bold"
                socialshare
                socialshare-provider="email"
                socialshare-body= {{url}}
                socialshare-media="https://www.google.it/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"
                socialshare-subject="SurfboardRatings.com"
                socialshare-popup-height="300"
                socialshare-popup-width="400">
            <i class="fa fa-envelope"></i> Email
         </button>
         <button class="btn btn-medium font-bold"
               socialshare
               socialshare-provider="facebook"
               socialshare-type="sharer"
               socialshare-text="Surfboard Reviews"
               socialshare-url= "SurfboardRatings.com"
               socialshare-popup-height="300"
               socialshare-popup-width="400"
               socialshare-trigger="click">
            <i class="fa fa-facebook"></i> Facebook
         </button>
          <button class="btn btn-medium font-bold"
                 socialshare
                 socialshare-provider="twitter"
                 socialshare-hashtags="travel, surfing, surfing travel, surfing destinations"
                 socialshare-via="twitter"
                 socialshare-text= {{url}}
                 socialshare-url= {{url}}
                 socialshare-popup-height="300"
                 socialshare-popup-width="400"
                 socialshare-trigger="click">
              <i class="fa fa-twitter"></i> Twitter
          </button>
          <button class="btn btn-medium font-bold"
                 socialshare
                 socialshare-provider="google"
                 socialshare-url= {{url}}
                 socialshare-popup-height="300"
                 socialshare-popup-width="400"
                 socialshare-trigger="click">
              <i class="fa fa-google-plus"></i> G+
          </button>
          <button class="btn btn-medium font-bold"
                 socialshare
                 socialshare-media="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTWGNvatNjOUyli3tBacDdAHmienfptFVStj_olGCWmaUXoIGYI"
                 socialshare-provider="pinterest"
                 socialshare-text="Surfboard Reviews"
                 socialshare-url= {{url}}
                 socialshare-popup-height="300"
                 socialshare-popup-width="400"
                 socialshare-trigger="click">
              <i class="fa fa-pinterest"></i> Pinterest
          </button>
          <button class="btn btn-medium font-bold"
                 socialshare
                 socialshare-provider="wordpress"
                 socialshare-text="Surfboard Reviews"
                 socialshare-url= {{url}}
                 socialshare-popup-height="300"
                 socialshare-popup-width="400"
                 socialshare-trigger="click">
              <i class="fa fa-wordpress"></i> Wordpress
          </button>
   </div>
   <div id="left_block">
      <div id='articles'>
         <h3>Articles</h3>
         <div id='articleblock'>
            <div ng-repeat="article in articles | orderBy: '-updatedAt'">
               <p><b><a id='articlelink' href='#/article/{{article.title}}'>{{article.title}}</a></b> - Added on {{article.updatedAt | date:'MM/dd/yyyy'}}</p>
               <p>{{article.headline}}</p>
            </div>
         </div>
      </div>
      <div id="locations">
         <h3>Recent Reviews</h3>
         <label><input class='input' ng-model="filter" placeholder="filter.."></label>
         <div id="recentSurfboard">
            <div id="surfboard" ng-animate="'animate'" ng-repeat="surfboard in surfboards | filter: filter | limitTo: 12 | orderBy: '-createdAt'">
               <!-- <b><i><a class="typelink" href="#/type/{{surfboard.type}}">{{surfboard.type}}</a> - <a id="namelink" href="#/manufacturer/{{surfboard.manufacturer}}">{{surfboard.manufacturer}}</a>: <a id="namelink" href="#/name/{{surfboard.name}}">{{surfboard.name}}</a></i></b>
               <b><p><a class="typelink" href="#/surfboard/{{surfboard._id}}">{{surfboard.title}}</a></p></b> -->
               <p><b><a class="namelink" href="#/manufacturer/{{surfboard.manufacturer}}">{{surfboard.manufacturer}}</a>: {{surfboard.boardlength}} <a class="namelink" href="#/manufacturerName/{{surfboard.manufacturer}}/{{surfboard.name}}">{{surfboard.name}}</a>- {{surfboard.customdims}} dimensions</b></p>
               <p>Posted by <a id="userlink" href="#/user/{{surfboard.user[0]._id}}">{{surfboard.user[0].username}}</a> on {{surfboard.createdAt | date:'MM/dd/yyyy'}}</p>
               <div class="rating">
                  User age: {{surfboard.user[0].age}}
                  <br>User weight: {{surfboard.user[0].weight}}
                  <br>User height: {{surfboard.user[0].height}}
               </div>
               <div class="rating">
                  Surfing Since: {{surfboard.user[0].surfingsince | date:'MMM yyyy'}}
                  <br>User experience level: {{surfboard.user[0].level}}
                  <br>User fitness level: {{surfboard.user[0].fitness}}
               </div>
               <p>Overall Rating: {{surfboard.rating}}</p>
               <div class="rating">
                  Speed Rating: {{surfboard.speedrating}}
                  <br>Maneuverability Rating: {{surfboard.maneuverabilityrating}}
               </div>
               <div class="rating">
                  Stability Rating: {{surfboard.stabilityrating}}
                  <br>Paddle Rating: {{surfboard.paddlerating}}
               </div>
               <p id='description'>Review: {{surfboard.review}}</p>
               <!-- <p id="description">{{surfboard.description}}</p> -->
               <span class='thumbs'>{{surfboard.thumbsup.length}}</span><a href="" ng-click='surfboardthumbsup(surfboard)'><i class="em em---1"></i></a><span class="thumbs">{{surfboard.thumbsdown.length}}</span><a href="" ng-click='surfboardthumbsdown(surfboard)'><i class="em em--1"></i></a> <button class='reportcomment' ng-click='reportsurfboard = !reportsurfboard'>Report</button><br>
               <form class='report' ng-show='reportsurfboard'>
                  <h4>I am reporting this comment as:</h4>
                  <input class='reportfield' type='text' ng-model='report.report'>
                  <input class='reportbutton' type="submit" value="SUBMIT" ng-click="reportcomments(surfboard,report)">
                  <p class='reporttext'>Reported comments and users will be reviewed by SurfboardRatings.com staff to determine whether they violate Terms of Use guidelines. Inappropriate comments will be removed, and repeated violations can lead to account termination.</p>
               </form>
            </div>
         </div>
      </div>
   </div>
   <div id="newSurfboard">
      <h3>Post a Surfboard Review <span ng-if="user">{{user.username}}</span></h3><b><span id="noUser" ng-if="!user">(Please register or log in to continue!)</span></b>
      {{errors.title.message}}
      <form ng-show="user">
         <h5>Provide brand/manufacturer</h5>
         <p><select style="width: 40%" ng-model="mySurfboard.manufacturer" ng-options="surfboard.manufacturer for surfboard in surfboards | unique:'manufacturer'">
            <option class="dropdown" ng-disabled='true' ng-selected='true' value={{surfboard.manufacturer}}>Select a brand/manufacturer</option>
         </select>
         or
         <input style="width: 40%" id="name" type="text" ng-model="mySurfboard.manufacturer2" placeholder="Enter a new brand/manufacturer"></p>
         <h5>Provide name of surfboard</h5>
         <p><select style="width: 40%" ng-model="mySurfboard.name" ng-options="surfboard.name for surfboard in surfboards | filter:{manufacturer:mySurfboard.manufacturer.manufacturer} | unique:'name' ">
            <option class="dropdown" ng-disabled='true' ng-selected='true' value={{surfboard.name}}>Select a surfboard</option>
         </select>
         or
         <input style="width: 40%" id="name" type="text" ng-model="mySurfboard.name2" placeholder="Enter a new surfboard"></p>
         <h5>Provide surfboard length</h5>
         <p><select style="width: 40%" ng-model="mySurfboard.boardlength">
            <option value="48">4'</option>
            <option value="49">4'1"</option>
            <option value="50">4'2"</option>
            <option value="51">4'3"</option>
            <option value="52">4'4"</option>
            <option value="53">4'5"</option>
            <option value="54">4'6"</option>
            <option value="55">4'7"</option>
            <option value="56">4'8"</option>
            <option value="57">4'9"</option>
            <option value="58">4'10"</option>
            <option value="59">4'11"</option>
            <option value="60">5'</option>
            <option value="61">5'1"</option>
            <option value="62">5'2"</option>
            <option value="63">5'3"</option>
            <option value="64">5'4"</option>
            <option value="65">5'5"</option>
            <option value="66">5'6"</option>
            <option value="67">5'7"</option>
            <option value="68">5'8"</option>
            <option value="69">5'9"</option>
            <option value="70">5'10"</option>
            <option value="71">5'11"</option>
            <option value="72">6'</option>
            <option value="73">6'1"</option>
            <option value="74">6'2"</option>
            <option value="75">6'3"</option>
            <option value="76">6'4"</option>
            <option value="77">6'5"</option>
            <option value="78">6'6"</option>
            <option value="79">6'7"</option>
            <option value="80">6'8"</option>
            <option value="81">6'9"</option>
            <option value="82">6'10"</option>
            <option value="83">6'11"</option>
            <option value="84">7'</option>
            <option value="85">7'1"</option>
            <option value="86">7'2"</option>
            <option value="87">7'3"</option>
            <option value="88">7'4"</option>
            <option value="89">7'5"</option>
            <option value="90">7'6"</option>
            <option value="91">7'7"</option>
            <option value="92">7'8"</option>
            <option value="93">7'9"</option>
            <option value="94">7'10"</option>
            <option value="95">7'11"</option>
            <option value="96">8'</option>
            <option value="97">8'1"</option>
            <option value="98">8'2"</option>
            <option value="99">8'3"</option>
            <option value="100">8'4"</option>
            <option value="101">8'5"</option>
            <option value="102">8'6"</option>
            <option value="103">8'7"</option>
            <option value="104">8'8"</option>
            <option value="105">8'9"</option>
            <option value="106">8'10"</option>
            <option value="107">8'11"</option>
            <option value="108">9'</option>
            <option value="109">9'1"</option>
            <option value="110">9'2"</option>
            <option value="111">9'3"</option>
            <option value="112">9'4"</option>
            <option value="113">9'5"</option>
            <option value="114">9'6"</option>
            <option value="115">9'7"</option>
            <option value="116">9'8"</option>
            <option value="117">9'9"</option>
            <option value="118">9'10"</option>
            <option value="119">9'11"</option>
            <option value="120">10'</option>
            <option value="121">10'1"</option>
            <option value="122">10'2"</option>
            <option value="123">10'3"</option>
            <option value="124">10'4"</option>
            <option value="125">10'5"</option>
            <option value="126">10'6"</option>
            <option value="127">10'7"</option>
            <option value="128">10'8"</option>
            <option value="129">10'9"</option>
            <option value="130">10'10"</option>
            <option value="131">10'11"</option>
            <option value="132">11'</option>
            <option value="133">11'1"</option>
            <option value="134">11'2"</option>
            <option value="135">11'3"</option>
            <option value="136">11'4"</option>
            <option value="137">11'5"</option>
            <option value="138">11'6"</option>
            <option value="139">11'7"</option>
            <option value="140">11'8"</option>
            <option value="141">11'9"</option>
            <option value="142">11'10"</option>
            <option value="143">11'11"</option>
            <option value="144">12'</option>
            <option value="145">12'1"</option>
            <option value="146">12'2"</option>
            <option value="147">12'3"</option>
            <option value="148">12'4"</option>
            <option value="149">12'5"</option>
            <option value="150">12'6"</option>
            <option value="151">12'7"</option>
            <option value="152">12'8"</option>
            <option value="153">12'9"</option>
            <option value="154">12'10"</option>
            <option value="155">12'11"</option>
            <option value="156">13'</option>
         </select>
         <h5>Does this surfboard have stock or custom dimensions?</h5>
         <h5><input class='radio' type='radio' ng-model='mySurfboard.customdims' value='stock'>Stock<br>
         <input class='radio' type='radio' ng-model='mySurfboard.customdims' value='custom'>Custom<br></h5>
         <h5>Select surfboard type</h5>
         <p><select ng-model="mySurfboard.type">
            <option value="Shortboard">Shortboard</option>
            <option value="Longboard">Longboard</option>
            <option value="Hybrid">Hybrid</option>
            <option value="Fish">Fish</option>
            <option value="Funboard">Funboard</option>
            <option value="Gun">Gun</option>
            <option value="SUP">SUP</option>
         </select></p>
         <h5>Provide a review</h5>
         <textarea id="desc" type="text" ng-model='mySurfboard.review'></textarea>
         <h5>Overall Rating<br>(0 worst - 10 best)</h5>
         <p><select ng-model="mySurfboard.rating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
         </select></p>
         <h5>Board Speed<br>(0 worst - 10 best)</h5>
         <p><select ng-model="mySurfboard.speedrating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
         </select></p>
         <h5>Board Maneuverability <br>(0 worst - 10 best)</h5>
         <p><select ng-model="mySurfboard.maneuverabilityrating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
         </select></p>
         <h5>Board Stability<br>(0 worst - 10 best)</h5>
         <p><select ng-model="mySurfboard.stabilityrating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
         </select></p>
         <h5>Board Paddling<br>(0 worst - 10 best)</h5>
         <p><select ng-model="mySurfboard.paddlerating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
         </select></p>
         <input id="submit" type="submit" value='Submit' ng-click='newSurfboard()'>
      </form>
   </div>
   <div id="types">
      <!-- <img class="panoramic" src="../assets/images/panoramic1.jpg" alt="missing photo"> -->
      <h3 class="typesummary">Ratings by Board Type</h3>
      <div class='bottom' ng-repeat="type in types | orderBy:'type'"><b><i><a class="typelink" href="#/type/{{type.type}}">{{type.type}}:</a></i></b> Rated {{type.count}} Time<span ng-show="type.count>1">s</span><br>
         Overall Rating: {{type.averageRating}}<br>
         <div class="rating">
            Speed: {{type.averagespeedRating}}
            <br>Maneuverability: {{type.averagemaneuverabilityRating}}
         </div>
         <div class="rating">
            Stability: {{type.averagestabilityRating}}
            <br>Paddle: {{type.averagepaddleRating}}
         </div>
      </div>
   </div>
   <div id="manufacturers">
      <h3 class="typesummary">Ratings by Brand</h3>
      <label><input class='input' ng-model="brandfilter" placeholder="filter.."></label>
      <div class='bottom' ng-repeat="manufacturer in manufacturers | orderBy:'-averageRating' | filter: brandfilter | limitTo: 15"><b><i><a class="manufacturerlink" href="#/manufacturer/{{manufacturer.manufacturer}}">{{manufacturer.manufacturer}}:</a></i></b> Rated {{manufacturer.count}} Time<span ng-show="manufacturer.count>1">s</span><br>
         Overall Rating: {{manufacturer.averageRating}}<br>
         <div class="rating">
            Speed: {{manufacturer.averagespeedRating}}
            <br>Maneuverability: {{manufacturer.averagemaneuverabilityRating}}
         </div>
         <div class="rating">
            Stability: {{manufacturer.averagestabilityRating}}
            <br>Paddle: {{manufacturer.averagepaddleRating}}
         </div>
      </div>
   </div>
   <div id="names">
      <h3 class="typesummary">Board Ratings</h3>
      <label><input class='input' ng-model="surfboardfilter" placeholder="filter.."></label>
      <div class='bottom' ng-repeat="name in names | orderBy:'-averageRating' | filter: surfboardfilter | limitTo: 20" ng-if="name.name!='Name not specified' && name.name!='No name specified'"><b><i><a class="manufacturerlink" href="#/name/{{name.name}}">{{name.name}}:</a></i></b> Rated {{name.count}} Time<span ng-show="name.count>1">s</span><br>
         Overall Rating: {{name.averageRating}}<br>
         <div class="rating">
            Speed: {{name.averagespeedRating}}
            <br>Maneuverability: {{name.averagemaneuverabilityRating}}
         </div>
         <div class="rating">
            Stability: {{name.averagestabilityRating}}
            <br>Paddle: {{name.averagepaddleRating}}
         </div>
      </div>
   </div>
   <!-- <div id="map"></div>
   <meta name="viewport" content="initial-scale=1.0">
   <script>
      var map;
      function initMap() {
         map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 7.165902, lng: 0.518463},
            zoom: 2
         });
      }
   </script>
   <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9zEze3L8tRr1_-DH6mi44KV5jpvKXnG8&callback=initMap">
   </script> -->
</div>
