<link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
<!-- ************************MAP*********************** -->
<!DOCTYPE html>
<meta name="viewport" content="initial-scale=1.0">

<div id="container" ng-controller="dashboardController">
   <div id="dmca">
      <h3>DMCA Notification Guidelines</h3>
      <h4>A. Notification of Infringement</h4>
      <p>It is our policy to respond to clear notices of alleged copyright infringement that comply with the Digital Millennium Copyright Act.</p>
      <p>You may submit your Notification of Alleged Copyright Infringement using our automated form, or by sending it to our Designated Agent by mail or e-mail as set forth below in Section C.</p>
      <a href='#/dmcanotice'>Submit DMCA Notice</a>
      <p>In addition, we will promptly terminate without notice the accounts of those determined by us to be "repeat infringers." If you are a copyright owner or an agent thereof, and you believe that any content hosted on our web site infringes your copyrights, then you may submit a notification pursuant to the Digital Millennium Copyright Act ("DMCA") by providing the Copyright Agent with the following information in writing (please consult your legal counsel or See 17 U.S.C. Section 512(c)(3) to confirm these requirements):</p>
      <p>1. A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</p>
      <p>2. Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works on the Network are covered by a single notification, a representative list of such works at that site.</p>
      <p>3. Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit our copyright agent to locate the material. Providing URLs in the body of an email is the best way to help us locate content quickly.</p>
      <p>4. Information reasonably sufficient to permit our copyright agent to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted.</p>
      <p>5. A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.</p>
      <p>6. A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</p>
      <p>Please note that under Section 512(f) of the DMCA, any person who knowingly materially misrepresents that material or activity is infringing may be subject to liability.</p>
      <p>Please note that our copyright agent will send a copy of such notices to both the individual that uploaded the allegedly infringing content and the creator of the social network where the content appears.</p>
      <h4>B. Counter-Notification</h4>
      <p>If you elect to send us a counter notice, to be effective it must be a written communication that includes the following (please consult your legal counsel or See 17 U.S.C. Section 512(g)(3) to confirm these requirements):</p>
      <p>1. A physical or electronic signature of the subscriber.</p>
      <p>2. Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled.</p>
      <p>3. A statement under penalty of perjury that the subscriber has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled.</p>
      <p>4. The subscriber\'s name, address, and telephone number, and a statement that the subscriber consents to the jurisdiction of Federal District Court for the judicial district in which the address is located, or if the subscriber\'s address is outside of the United States, for any judicial district in which our copyright agent may be found, and that the subscriber will accept service of process from the person who provided notification under subsection (c)(1)(C) or an agent of such person.</p>
      <p>Please note that under Section 512(f) of the DMCA, any person who knowingly materially misrepresents that material or activity was removed or disabled by mistake or misidentification may be subject to liability.</p>
      <p>Our copyright agent only accepts counter-notices that meet the requirements set forth above and are received from the email address associated with the our copyright agent account you used to upload the content within 7 business days of our forwarding you the DMCA notice. You may submit your Counter Notification by sending it to our Designated Agent by mail or e-mail as set forth below in Section C.</p>
      <h4>C. Designated Copyright Agent</h4>
      <p>The Designated Copyright Agent to receive notifications and counter-notifications of claimed infringement can be reached as follows:</p>
      <p>Copyright Agent<br>
      c/o Patrick Phancao<br>
      17702 Mitchell North<br>
      #101<br>
      Irvine, CA 92614</p>
      <p>Or, via <a href='#/dmcanotice'>email</a>.</p>
      <p>For clarity, only DMCA notices should go to the Designated Copyright Agent. Any other communications related to the Network should be directed to the Network Creator. You acknowledge that if you fail to comply with all of the requirements of this section, your DMCA notice may not be valid.</p>
   </div>
</div>
