<link rel="stylesheet" type="text/css" href="assets/css/login.css">

<div ng-controller="log_regController">
   <fieldset>
      <legend>Login</legend>
      {{errors.login.message}}
      <p>Not a member? Please <a href="#/register">register</a> instead.</p>
      <form>
         <p><span class='label'>email:</span><input type="text" ng-model="user.email"></p>
         <p><span class='label'>Password:</span><input type="password" ng-model="user.password"></p>
         <p><a href="#/forgot">Forgot your password?</a></p>
         <input id="submit" type="submit" value="Log In" ng-click="login(user)">
      </form>

<!-- {{friend.birthdate | date:'MM/dd/yyyy'}} -->
   </fieldset>
</div>
