<link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
<!-- ************************MAP*********************** -->
<!DOCTYPE html>
<meta name="viewport" content="initial-scale=1.0">

<div id="container" ng-controller="posttripController">

   <div class="col6 offset-left2">
         <button class="btn btn-medium font-bold"
                socialshare
                socialshare-provider="email"
                socialshare-body= {{url}}
                socialshare-media="https://www.google.it/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"
                socialshare-subject="SurfboardRatings.com"
                socialshare-popup-height="300"
                socialshare-popup-width="400">
            <i class="fa fa-envelope"></i> Email
         </button>
         <button class="btn btn-medium font-bold"
               socialshare
               socialshare-provider="facebook"
               socialshare-type="sharer"
               socialshare-text="Surfing Destinations Reviews"
               socialshare-url= "SurfboardRatings.com"
               socialshare-popup-height="300"
               socialshare-popup-width="400"
               socialshare-trigger="click">
            <i class="fa fa-facebook"></i> Facebook
         </button>
          <button class="btn btn-medium font-bold"
                 socialshare
                 socialshare-provider="twitter"
                 socialshare-hashtags="travel, surfing, surfing travel, surfing destinations"
                 socialshare-via="twitter"
                 socialshare-text= {{url}}
                 socialshare-url= {{url}}
                 socialshare-popup-height="300"
                 socialshare-popup-width="400"
                 socialshare-trigger="click">
              <i class="fa fa-twitter"></i> Twitter
          </button>
          <button class="btn btn-medium font-bold"
                 socialshare
                 socialshare-provider="google"
                 socialshare-url= {{url}}
                 socialshare-popup-height="300"
                 socialshare-popup-width="400"
                 socialshare-trigger="click">
              <i class="fa fa-google-plus"></i> G+
          </button>
          <button class="btn btn-medium font-bold"
                 socialshare
                 socialshare-media="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTWGNvatNjOUyli3tBacDdAHmienfptFVStj_olGCWmaUXoIGYI"
                 socialshare-provider="pinterest"
                 socialshare-text="Surfing Destinations Reviews"
                 socialshare-url= {{url}}
                 socialshare-popup-height="300"
                 socialshare-popup-width="400"
                 socialshare-trigger="click">
              <i class="fa fa-pinterest"></i> Pinterest
          </button>
          <button class="btn btn-medium font-bold"
                 socialshare
                 socialshare-provider="wordpress"
                 socialshare-text="Surfing Destinations Reviews"
                 socialshare-url= {{url}}
                 socialshare-popup-height="300"
                 socialshare-popup-width="400"
                 socialshare-trigger="click">
              <i class="fa fa-wordpress"></i> Wordpress
          </button>
   </div>

   <div id="newTrip">
      <h3>Share Your Experiences <span ng-if="user">{{user.username}}</span></h3><b><span id="noUser" ng-if="!user">(Please register or log in to continue!)</span></b>
      {{errors.title.message}}
      <form ng-show="user">
         <h5>Select a region</h5>
         <p><select style="width: 40%" ng-model="myTrip.region">
            <option class="dropdown" value="North America">North America</option>
            <option value="Central America">Central America</option>
            <option value="South America">South America</option>
            <option value="Caribbean">Caribbean</option>
            <option value="Europe">Europe</option>
            <option value="Australia / New Zealand">Australia / New Zealand</option>
            <option value="Africa">Africa</option>
            <option value="Central Asia">Central Asia</option>
            <option value="South East Asia">South East Asia</option>
            <option value="Pacific Islands">Pacific Islands</option>
         </select></p>
         <h5>Provide a country or territory</h5>
         <p><select style="width: 40%" ng-model="myTrip.country" ng-options="trip.country for trip in trips | filter:{region:myTrip.region} | unique:'country'">
            <option class="dropdown" ng-disabled='true' ng-selected='true' value={{trip.country}}>Select a country</option>
         </select>
         or
         <input style="width: 40%" id="area" type="text" ng-model="myTrip.country2" placeholder="Enter a new country"></p>
         <h5>Provide a local area</h5>
         <p><select style="width: 40%" ng-model="myTrip.area" ng-options="trip.area for trip in trips | filter:{region:myTrip.region} | filter:{country:myTrip.country.country}:true | unique:'area'">
            <option class="dropdown" value="{{trip.area}}">Select an area</option>
         </select>
         or
         <input style="width: 40%" id="area" type="text" ng-model="myTrip.area2" placeholder="Enter a new area"></p>
         <p><h5>Primary Trip Month:
            <select ng-model="myTrip.tripmonth">
               <option value="Jan">Jan</option>
               <option value="Feb">Feb</option>
               <option value="Mar">Mar</option>
               <option value="Apr">Apr</option>
               <option value="May">May</option>
               <option value="Jun">Jun</option>
               <option value="Jul">Jul</option>
               <option value="Aug">Aug</option>
               <option value="Sep">Sep</option>
               <option value="Oct">Oct</option>
               <option value="Nov">Nov</option>
               <option value="Dec">Dec</option>
            </select>
            Trip Year:
            <input style="width: 20%" type="text" ng-model="myTrip.tripyear">
         </h5></p>
         <h5>Provide a title for your trip</h5>
         <p><input id="title" type="text" ng-model='myTrip.title'></p>
         <h5>Provide a description and summary of your trip</h5>
         <textarea id="desc" type="text" ng-model='myTrip.description'></textarea>
         <h5>Rate your overall experience on this trip<br>(0 worst - 10 best)</h5>
         <p><select ng-model="myTrip.rating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
         </select></p>
         <h5>Rate the surfing conditions (wave quality, crowds, etc...)<br>(0 worst - 10 best)</h5>
         <p><select ng-model="myTrip.surfrating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
         </select></p>
         <h5>Rate the amenities (restaurants/bars, transportation, etc...) <br>(0 worst - 10 best)</h5>
         <p><select ng-model="myTrip.amenitiesrating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
         </select></p>
         <h5>Rate other activies (sightseeing, fishing, etc..)<br>(0 worst - 10 best)</h5>
         <p><select ng-model="myTrip.activitiesrating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
         </select></p>
         <input id="submit" type="submit" value='Submit' ng-click='newTrip()'>
      </form>
   </div>

</div>
